In [51]:
from basic_rl_envi_for_dam_bidding_main.import_data_example import *

# Get Data

In [106]:
start = pd.Timestamp(year=2023, month=3, day=1, tz="utc")
#end = pd.Timestamp(year=2022, month=5, day=1, tz="utc")
end = pd.Timestamp.now(tz="utc")

# get the end of the current day
end = end.floor('D') + pd.Timedelta(days=2)

In [107]:
df_demand = get_demand(start, end)
df_vre = get_vre(start, end)
df_gen = get_gen(start, end)
df_mcp = get_mcp(start, end)
#states = get_states_list(start, end)

In [108]:
#jeden tag um 12 Uhr für den nachfolgenden tag
df_mcp

                                0
2023-03-01 01:00:00+01:00  125.46
2023-03-01 02:00:00+01:00  124.96
2023-03-01 03:00:00+01:00  127.66
2023-03-01 04:00:00+01:00  130.58
2023-03-01 05:00:00+01:00  141.35
...                           ...
2023-05-09 19:00:00+02:00  121.93
2023-05-09 20:00:00+02:00  121.05
2023-05-09 21:00:00+02:00  110.97
2023-05-09 22:00:00+02:00  104.67
2023-05-09 23:00:00+02:00   89.93

[1678 rows x 1 columns]

In [ ]:
hourly = df_mcp.pivot_table(index=df_demand.index.date, columns=df_demand.index.hour, values='Forecasted Load', aggfunc='sum')

In [ ]:
# df_demand: 2023-05-08 23:45:00+02:00 gibt den Load für 23:45-00:00 Uhr an

In [87]:
df_demand

                           Forecasted Load
2023-03-01 01:00:00+01:00          50887.0
2023-03-01 01:15:00+01:00          50618.0
2023-03-01 01:30:00+01:00          50464.0
2023-03-01 01:45:00+01:00          50232.0
2023-03-01 02:00:00+01:00          49999.0
...                                    ...
2023-05-08 22:45:00+02:00          50415.0
2023-05-08 23:00:00+02:00          49512.0
2023-05-08 23:15:00+02:00          48819.0
2023-05-08 23:30:00+02:00          48154.0
2023-05-08 23:45:00+02:00          47590.0

[6616 rows x 1 columns]

In [95]:
# reformat data. 24 columns, each column represents one hour of the day
hourly = df_demand.pivot_table(index=df_demand.index.date, columns=df_demand.index.hour, values='Forecasted Load', aggfunc='sum')

In [113]:
df_demand.index

DatetimeIndex(['2023-03-01 01:00:00+01:00', '2023-03-01 01:15:00+01:00',
               '2023-03-01 01:30:00+01:00', '2023-03-01 01:45:00+01:00',
               '2023-03-01 02:00:00+01:00', '2023-03-01 02:15:00+01:00',
               '2023-03-01 02:30:00+01:00', '2023-03-01 02:45:00+01:00',
               '2023-03-01 03:00:00+01:00', '2023-03-01 03:15:00+01:00',
               ...
               '2023-05-08 21:30:00+02:00', '2023-05-08 21:45:00+02:00',
               '2023-05-08 22:00:00+02:00', '2023-05-08 22:15:00+02:00',
               '2023-05-08 22:30:00+02:00', '2023-05-08 22:45:00+02:00',
               '2023-05-08 23:00:00+02:00', '2023-05-08 23:15:00+02:00',
               '2023-05-08 23:30:00+02:00', '2023-05-08 23:45:00+02:00'],
              dtype='datetime64[ns, Europe/Berlin]', length=6616, freq='15T')

In [96]:
hourly

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
2023-03-01,NaN,202201.0,199722.0,201209.0,205615.0,217546.0,242339.0,259557.0,269253.0,273495.0,...,268279.0,264267.0,260761.0,264329.0,271424.0,269117.0,256096.0,244186.0,233075.0,219587.0
2023-03-02,210615.0,203958.0,201056.0,202722.0,207651.0,220122.0,245990.0,263352.0,273116.0,275667.0,...,266792.0,262473.0,260473.0,263796.0,271542.0,270194.0,256781.0,243905.0,233097.0,219619.0
2023-03-03,209231.0,202353.0,200215.0,201846.0,207412.0,219564.0,242874.0,261214.0,271378.0,273974.0,...,264787.0,261004.0,257569.0,261197.0,269995.0,269232.0,255493.0,242882.0,232205.0,219235.0
2023-03-04,208905.0,201157.0,197389.0,196285.0,196250.0,196526.0,201076.0,209615.0,221057.0,231850.0,...,226094.0,222174.0,220486.0,227722.0,235907.0,231132.0,218192.0,209541.0,204206.0,193179.0
2023-03-05,184430.0,178168.0,174895.0,174166.0,174403.0,175287.0,175933.0,182501.0,194247.0,206916.0,...,213832.0,209249.0,210632.0,217380.0,227147.0,225722.0,217273.0,211725.0,210021.0,200525.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-04,185464.0,179193.0,176123.0,177386.0,182039.0,194306.0,220014.0,237867.0,249335.0,251589.0,...,246033.0,242087.0,238081.0,237776.0,238393.0,238462.0,232382.0,224029.0,211507.0,195771.0
2023-05-05,187268.0,180504.0,177404.0,178729.0,183737.0,195244.0,218627.0,239211.0,250013.0,252828.0,...,244603.0,240778.0,236813.0,236402.0,236470.0,235661.0,228457.0,220694.0,208203.0,194098.0
2023-05-06,178686.0,170291.0,165397.0,165289.0,165567.0,166777.0,170943.0,180339.0,194227.0,205778.0,...,196623.0,195302.0,193697.0,195734.0,198464.0,197800.0,192963.0,188436.0,181031.0,169483.0
2023-05-07,156546.0,150069.0,146385.0,145810.0,146519.0,148029.0,149051.0,156625.0,169065.0,181813.0,...,184978.0,180112.0,179674.0,182785.0,187898.0,188711.0,186855.0,185278.0,180363.0,170017.0
2023-05-08,164319.0,158542.0,156600.0,157929.0,164306.0,179276.0,208210.0,229411.0,241925.0,245964.0,...,247787.0,244131.0,239194.0,238171.0,237807.0,235555.0,228832.0,220288.0,207681.0,194075.0

In [76]:
df = pd.concat([df_vre, df_gen, df_mcp], axis = 1)

In [68]:
df = df.rename(columns={0: 'day_ahead_market_price'})

In [ ]:
# 2023-05-08 12:00:00+02:00,63621.0,29065.0,2153.0,10199.0,63511.0,80.41
# dieser Datenpunkt entspricht den Werten von 12:00 Uhr bis 12:30 Uhr
# Day ahead total load

In [70]:
df

,Forecasted Load,Solar,Wind Offshore,Wind Onshore,Actual Aggregated,day_ahead_market_price
2023-01-01 01:00:00+01:00,40841.0,0.0,3382.0,35545.0,56301.0,-1.07
2023-01-01 01:15:00+01:00,40271.0,0.0,3387.0,35433.0,NaN,NaN
2023-01-01 01:30:00+01:00,39746.0,0.0,3395.0,35365.0,NaN,NaN
2023-01-01 01:45:00+01:00,39249.0,0.0,3397.0,35319.0,NaN,NaN
2023-01-01 02:00:00+01:00,39059.0,0.0,3403.0,35233.0,53753.0,-1.47
...,...,...,...,...,...,...
2023-05-08 12:15:00+02:00,63861.0,29512.0,2127.0,10174.0,NaN,NaN
2023-05-08 12:30:00+02:00,63936.0,29814.0,2094.0,10146.0,NaN,NaN
2023-05-08 12:45:00+02:00,63952.0,29999.0,2070.0,10116.0,NaN,NaN
2023-05-08 13:00:00+02:00,63980.0,30113.0,2040.0,10080.0,63515.0,74.32
2023-05-08 13:15:00+02:00,63681.0,30137.0,2021.0,9997.0,NaN,NaN

In [64]:
# aggregate daily
df.groupby([pd.Grouper(freq='1d')])[['Forecasted Load', 'Solar', 'Wind Offshore', 'Wind Onshore', 'Actual Aggregated']].sum()

,Forecasted Load,Solar,Wind Offshore,Wind Onshore,Actual Aggregated
2022-01-01 00:00:00+01:00,4087580.0,130566.0,467309.0,1384558.0,1150624.0
2022-01-02 00:00:00+01:00,4893343.0,94954.0,556874.0,2463120.0,1497235.0
2022-01-03 00:00:00+01:00,5790309.0,102006.0,588415.0,3092386.0,1804336.0
2022-01-04 00:00:00+01:00,6026514.0,43926.0,366535.0,1336172.0,1530429.0
2022-01-05 00:00:00+01:00,6223270.0,110089.0,608893.0,2748791.0,1846391.0
...,...,...,...,...,...
2022-04-27 00:00:00+02:00,5501443.0,867811.0,24266.0,244662.0,1409259.0
2022-04-28 00:00:00+02:00,5452723.0,1067294.0,75181.0,364603.0,1461638.0
2022-04-29 00:00:00+02:00,5404809.0,1015177.0,63335.0,339967.0,1421279.0
2022-04-30 00:00:00+02:00,4727408.0,659786.0,38224.0,407541.0,1200306.0
2022-05-01 00:00:00+02:00,378378.0,0.0,2131.0,36704.0,111169.0

In [ ]:
#

# Bedeutung der einzelnen Variablen
- Forecasted Load:
- Solar
- Wind Offshore:
- Wind Onshore:
- day ahead market price: EUR/MWh